
.header{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    box-sizing: inherit;
    border: 2px solid black;
}

#item{
    display: flex;
    justify-content: space-between;
    size: 50px;
    padding-right: 15px;
    gap: 100px;
}
img{
    width: 100px;
    padding-left: 0px;
}
.img1{
    width: 100%;
    height: 50%;

}
.body{
    padding-top: 20px;
}
.res-card{
    width: 250px;
    height: 350px;

}

.res-card:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    cursor: pointer;
}
.res-card-item{
    margin: 10px;
}
p{
    font-size: medium;
}

.res-cont{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
